<i18n>
  {
    "eng": {
      "mainText": "<div style='line-height: 20px;'><span style='color:#000000;font-size: 14px; font-weight: 500 ;font-family:Arial, sans-serif;'>[Trademark and Copyright, e.g. “BAYER, the Bayer Cross, [Insert program name, etc.] are registered trademarks for Bayer.<br />All other trademarks are property of their respective owners. These trademark owners are not affiliated with Bayer and do not sponsor or endorse Bayer or this product.”<br />© [XXXX] Bayer. All rights reserved.]<br />[Company name and physical address]<br />[Document number]</span></div>",
      "noteText": "<div style='line-height: 20px; text-align: center;'><span style='color:#232323; font-size: 14px; font-weight: 400 ;font-family:arial,helvetica neue,helvetica,sans-serif;'>Please note that this e-mail address not monitored for replies.<br />If you would like to contact us, visit our <a href=\"http://viseven.com\" style='color: #5b7c9a;'><u>Contact us</u></a> section online.</span></div>",
      "lastText": "<div style='line-height: 20px;'><span style='color:#232323;font-size: 14px; font-weight: 400 ;font-family:arial,helvetica neue,helvetica,sans-serif;'>This message is brought to you by Bayer’s Pharmaceutical Division.</span><div>",
      "linksText": "<div style='line-height: 20px;'><span style='color:#232323;font-size: 14px; font-weight: 400 ;font-family:arial,helvetica neue,helvetica,sans-serif;'><a href='https://www.viseven.com/' style='color: #497091;'><u>Terms of use</u></a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href='https://www.viseven.com/' style='color: #497091;'><u>Privacy policy</u></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;<a href='https://www.viseven.com/' style='color: #497091;'><u>Unsubscribe</u></a></span></div>"
    }
  }
</i18n>

<template>
  <wiz-block style="padding: 20px 0" class="footer-d-block">
      <wiz-placeholder class="m-row">
        <wiz-column  :width="21"  content-align="right" style="padding: 5px 18px 0 0" class="footer-image">
          <wiz-image :src="BayerLogo" alt="BayerLogo" style="max-width: 60px"></wiz-image>
        </wiz-column>
        <wiz-column :width="79" class="footer-main-text" style="padding: 0 10px 0 0;"  content-align="left">
          <wiz-text :text="$t('mainText')" style="max-width: 490px"></wiz-text>
        </wiz-column>
      </wiz-placeholder>
      <wiz-placeholder>
        <wiz-column class="note-section" style="padding: 15px 0 0 85px">
          <wiz-text :text="$t('noteText')" style="width: auto"></wiz-text>
        </wiz-column>
      </wiz-placeholder>
      <wiz-placeholder>
        <wiz-column class="links-section" style="padding: 15px 0 0 70px; max-width: 500px; min-width: auto; width: 100%;">
          <wiz-text :text="$t('linksText')" style="text-align: center"></wiz-text>
        </wiz-column>
      </wiz-placeholder>
      <wiz-placeholder>
        <wiz-column class="last-section" style="padding: 10px 0 0 85px">
          <wiz-text :text="$t('lastText')" style="text-align: center"></wiz-text>
        </wiz-column>
      </wiz-placeholder>
  </wiz-block>
</template>

<script>
  import wizBlock from 'wiz-block';
  import { wizPlaceholder, wizColumn } from 'wiz-placeholder';
  import wizText from 'wiz-text';
  import wizImage from 'wiz-image';
  import BayerLogo from './media/BayerLogo.png';
  
  export default {
    name: 'footer-d',
    components: {
      wizBlock,
      wizPlaceholder,
      wizColumn,
      wizText,
      wizImage,
    },
    data: function() {
      return {
        BayerLogo,
        link: 'https://www.viseven.com/'
      }
    }
  }
</script>