body {
  margin: 0;
  padding: 0;
  font-family:arial,helvetica neue,helvetica,sans-serif;
  color: #000;
}
span.snippet {
  padding: 2px 5px;
  margin: 0 5px;
  border-radius: 3px;
  background: #007bb9;
  color: #fff;
}
span[contenteditable]{
  outline: none;
}
table{
  border-spacing: 0;
}
td{
  padding: 0;
}
.text, .text *:not(ul):not(ol):not(li),
.button-text, .button-text *:not(ul):not(ol):not(li),
.title-text, .title-text *:not(ul):not(ol):not(li),
.wiz-link, .wiz-link *:not(ul):not(ol):not(li){
  overflow: hidden;
  text-overflow: ellipsis;
}
ul, ol{
  margin: 0;
}
a {
  text-decoration: none;
}
a img {
  border: 0;
}
.text, .title-text, .wiz-link, .button-text{
  font-size: 14px;
  line-height: 20px;
}
.button-text-wrapper,
a.button-text{
  line-height: 14px;
}
.wiz-agenda .wiz-text.dash .text,
.wiz-agenda .wiz-text.dash .text div{
  color: #4d4d4d;
}
div, span{
  mso-line-height-rule: exactly;
}
b, strong{
  font-weight: bold;
}
.root {
  max-width: 100%;
}
.border-collapse{
  border-collapse: collapse;
}
.wiz-button.color-button {
  border-radius: 0;
}
.wiz-button.color-button td {
  width: 135px;
}
.wiz-rating-scale .wiz-image.scale-item > tr > td{
  padding: 0;
}
.wiz-image td{
  vertical-align: top;
}
.wiz-image a,
.wiz-title .title-text a{
  display: block;
}
.wiz-title .title-text a{
  display: block;
}
.header .logo-wrapper{
  vertical-align: middle;
}
table .v-align-top > tr > td,
table .v-align-top > tbody > tr > td{
  vertical-align: top;
}
.wiz-card-text div{
  line-height: 16px;
}
.container .border-radius-none {
  border-radius: 0;
}
.pa-0 > tr > td,
.pa-0 > tbody > tr > td{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media screen and (max-width: 480px), screen and (max-width: 480px) and (min-width: 1px){
  html,
  body{
    width: 100% !important;
    min-width: 100% !important;
    overflow-x: hidden;
  }
  table{
    border-spacing: 0 !important;
    min-height: auto !important;
  }
  div, b, a, .text span, .title-text span, .button-text span, .wiz-link span{
    font-size: 13px !important;
  }
  .text, .button-text, .wiz-link {
    line-height: 16px !important;
  }
  table .m-hide,
  table .m-hide * {
    display: none!important;
    height: 0!important;
    width: 0 !important;
    visibility: hidden!important;
    line-height: 0 !important;
    font-size: 0 !important;
  }
  .wiz-column,
  .wiz-column > tbody > tr > td{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .wiz-social-follow-icons img{
    font-size: 7px!important;
  }
  table .m-full-width,
  table .m-full-width > tr > td,
  table .m-full-width > tbody > tr > td,
  table .m-full-width .wiz-column-wrapper,
  table .m-full-width.wiz-card img{
    width: 100% !important;
  }
  table .m-row > tr > td,
  table .m-row > tbody > tr > td,
  table .m-row .wiz-column-wrapper{
    display: table-row;
  }
  table .m-center,
  table .m-center td,
  table .m-center p,
  table .m-center div,
  table .m-center p > div {
    text-align: center !important;
  }
  table.m-t-p-0,
  table.m-t-p-0 > tr > td,
  table.m-t-p-0 > tbody > tr > td {
    padding: 0 !important;
  }
  table .m-p-0 > tr > td,
  table .m-p-0 > tbody > tr > td{
    padding: 0 !important;
  }
  table .m-p-20 > tr > td,
  table .m-p-20 > tbody > tr > td{
    padding: 20px !important;
  }
  table .m-p-t-0 > tr > td,
  table .m-p-t-0 > tbody > tr > td{
    padding-top: 0 !important;
  }
  table .m-p-t-5 > tr > td,
  table .m-p-t-5 > tbody > tr > td{
    padding-top: 5px !important;
  }
  table .m-p-t-10 > tr > td,
  table .m-p-t-10 > tbody > tr > td{
    padding-top: 10px !important;
  }
  table .m-p-t-15 > tr > td,
  table .m-p-t-15 > tbody > tr > td{
    padding-top: 15px !important;
  }
  table .m-p-t-20 > tr > td,
  table .m-p-t-20 > tbody > tr > td{
    padding-top: 20px !important;
  }
  table .m-p-t-25 > tr > td,
  table .m-p-t-25 > tbody > tr > td{
    padding-top: 25px !important;
  }
  table .m-p-t-30 > tr > td,
  table .m-p-t-30 > tbody > tr > td{
    padding-top: 30px !important;
  }
  table .m-p-l-0 > tr > td,
  table .m-p-l-0 > tbody > tr > td{
    padding-left: 0 !important;
  }
  table .m-p-l-10 > tr > td,
  table .m-p-l-10 > tbody > tr > td{
    padding-left: 10px !important;
  }
  table .m-p-r-10 > tr > td,
  table .m-p-r-10 > tbody > tr > td{
    padding-right: 10px !important;
  }
  table .m-p-b-0 > tr > td,
  table .m-p-b-0 > tbody > tr > td{
    padding-bottom: 0 !important;
  }
  table .m-p-b-5 > tr > td,
  table .m-p-b-5 > tbody > tr > td{
    padding-bottom: 5px !important;
  }
  table .m-p-b-10 > tr > td,
  table .m-p-b-10 > tbody > tr > td{
    padding-bottom: 10px !important;
  }
  table .m-p-b-15 > tr > td,
  table .m-p-b-15 > tbody > tr > td{
    padding-bottom: 15px !important;
  }
  table .m-p-b-20 > tr > td,
  table .m-p-b-20 > tbody > tr > td{
    padding-bottom: 20px !important;
  }
  table .m-p-b-25 > tr > td,
  table .m-p-b-25 > tbody > tr > td{
    padding-bottom: 25px !important;
  }
  table .m-p-b-30 > tr > td,
  table .m-p-b-30 > tbody > tr > td{
    padding-bottom: 30px !important;
  }
  table .m-p-b-40 > tr > td,
  table .m-p-b-40 > tbody > tr > td{
    padding-bottom: 40px !important;
  }
  table .m-p-tb-5-lr-0 > tr > td,
  table .m-p-tb-5-lr-0 > tbody > tr > td{
    padding: 5px 0 !important;
  }
  table .m-p-tb-20-lr-0 > tr > td,
  table .m-p-tb-20-lr-0 > tbody > tr > td{
    padding: 20px 0 !important;
  }
  table .m-p-tb-15-lr-0 > tr > td,
  table .m-p-tb-15-lr-0 > tbody > tr > td{
    padding: 15px 0 !important;
  }
  table .m-p-lr-20 > tr > td,
  table .m-p-lr-20 > tbody > tr > td{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  table .m-p-lr-0 > tr > td,
  table .m-p-lr-0 > tbody > tr > td{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  table .m-fs-16 *{
    font-size: 16px !important;
  }
  table .m-fs-18 * {
    font-size: 18px !important;
  }
  table .m-fs-19 *{
    font-size: 19px !important;
  }
  table .m-fs-22 *{
    font-size: 22px !important;
  }
  table .m-image-full-width img{
    width: 100% !important;
    height: auto !important;
  }
  table .m-mw-100{
    max-width: 100% !important;
  }
  table .m-mw-auto{
    min-width: auto !important;
  }

  /*  Header */
  .header .logo-wrapper > tr > td,
  .header .logo-wrapper > tbody > tr > td,
  .header .color-line > tr > td,
  .header .color-line > tbody > tr > td{
    display: block;
    height: auto !important;
  }
  .header .primary-logo:not(.m-full-width),
  .header .primary-logo2{
    width: auto !important;
  }
  .header .primary-logo,
  .header .primary-logo2{
    height: auto !important;
  }
  .header .color-line .center{
    width: 100% !important;
    min-width: 320px !important;
  }
  .header .color-line .center > tr > td,
  .header .color-line .center > tbody> tr > td{
    width: 20% !important;
    height: auto!important;
  }
  .header .logo-wrapper .center {
    width: auto !important;
  }
  .header .secondary-logo-wrapper > tr > td,
  .header .secondary-logo-wrapper > tbody > tr > td{
    padding-right: 10px !important;
  }
  .header .wiz-divider,
  .header .logo-wrapper,
  .header .menu-wrapper-table{
		width: 100% !important;
  }
  .header .main-content-wrapper > tbody > tr > td,
	.header .main-content-wrapper > tr > td{
		padding: 0 !important;
  }
  .header .super-subject-text > tbody > tr > td,
  .header .super-subject-text > tr > td{
    padding-top: 10px !important;
  }
  /*  Header */

  /*  Buttons */
  /* .button-layout > tbody > tr > td,
  .button-layout > tr > td {
    padding: 20px 20px 0 20px !important;
  } */

  /* .m-button-wrapper{
    min-width: auto !important;
  }
  .m-button-wrapper > tbody > tr > td,
  .m-button-wrapper > tr > td,
  .m-button-wrapper .wiz-column-wrapper{
    display: table-row;
    height: auto !important;
    box-sizing: border-box;
    text-align: center;
  }  */
  .m-button-full-width{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  /*  Buttons */

  /*  Components */
  .wiz-title .title-text a,
  .wiz-title .title-text span{
    font-size: 22px !important;
  }
  /* Components */

  /* Fragments */

  .button-text-wrapper,
  a.button-text{
    line-height: 0;
  }
}

@media screen and (max-width: 699px), screen and (max-width: 699px) and (min-width: 1px){
  .root {
    width: 100% !important;
    min-width: 100% !important;
  }
}
@media screen and (max-width: 699px) and (min-width: 481px){
  .wiz-calendar{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .calendar-text-month span{
    font-size: 20px !important;
  }
  .calendar-text-day span{
    font-size: 35px !important;
  }
}
@media screen and (min-width: 1px){
  p.MsoNormal{
    margin: 0;
  }
}




.content-text-block .wiz-title
{
 overflow: visible;
}

.content-title .title-text
{
  overflow: visible;
}

@media screen and (max-width: 480px), screen and (max-width: 480px) and (min-width: 1px){

.header-block
{
  padding: 0 !important;
}
.header-text
{
  padding-top: 10px !important;
}

.m-p-l-50
{
  padding-left: 50px !important;

}

.m-p-r-20
{
  padding-right: 20px !important;

}

.header-img-column
{
  padding: 5px 0px 15px !important;
}

.header-image
{
  width: 50% !important;
}


/*fix content*/
.content-text-block
{
  padding: 5px 5px 0 20px !important;
}

.content-link-block
{
  padding: 0 5px 0 20px !important;
}



.content-title
{
  padding: 10px 0 0 0 !important;
  word-spacing: 2px !important;
}

.content-text
{
  padding: 10px 20px 0 0 !important;
}

.footer-d-block
{
  padding: 20px !important;
}

.footer-main-text
{
  padding: 15px 0 0 0 !important;
}

.footer-image
{
  display: table-cell !important;
}

.note-section
{
  padding: 10px 5px 0 5px !important;

}

.links-section
{
  padding: 10px 5px 0px 5px !important;
}

.last-section
{
  padding: 10px 10px 0 10px !important;
}

}