<i18n>
{
  "eng": {
  }
}
</i18n>

<template>
  <wiz-root align="center" style="background: #ffffff; width: 700px;">
   <headerD></headerD>
   <contentD></contentD>  
   <footerD></footerD>
  </wiz-root>
</template>

<script>

import headerD from './common/blocks-library/header-d/index.vue';
 import contentD from './common/blocks-library/content-d/index.vue';
 import footerD from './common/blocks-library/footer-d/index.vue';
export default {
  name: 'wiz-app',
  components: {
    headerD,
    contentD,
    footerD
  }
};
</script>

<style>
@import 'common/styles/main.css';
</style>