<i18n>
  {
    "eng": {
      "description": "<div style='line-height: 20px;text-align: center;'><span style='color:#787878; font-size: 12px; font-weight: 400 ;font-family:arial,helvetica neue,helvetica,sans-serif;'>Super subject line</span></div>",
      "eyelea-link": "<div style='line-height: 20px; text-align: right;'><span style='color:#787878; font-size: 12px; font-weight: 400 ;font-family:arial,helvetica neue,helvetica,sans-serif; text-decoration: underline;'>Read online</span></div>"
    }
  }
</i18n>

<template>
  <wiz-block style="padding: 15px 0 0 0 " class="header-block">
      <wiz-placeholder bgcolor="#ffffff" style="vertical-align: top; padding: 0 0 10px 0" class="header-placeholder ">
        <wiz-column :width="50" class="header-text m-p-r-20" style="padding: 0 110px 0 0 ">
          <wiz-text :text="$t('description')"></wiz-text>
        </wiz-column>
        <wiz-column  :width="50" class="header-text m-p-l-50" style="padding: 0 0 0 140px;">
          <wiz-link link="https://www.viseven.com/" :text="$t('eyelea-link')"
          style="align: center"></wiz-link>
        </wiz-column>
      </wiz-placeholder>
      <wiz-placeholder>
        <wiz-column  :width="50" style="padding: 5px 0 20px 0" class="header-img-column">
          <wiz-image :src="EyleaLogo" alt="EyLea" style="max-width: 210px;" class="header-image"></wiz-image>
        </wiz-column>
      </wiz-placeholder>
    <wiz-divider divider-color="#003b5c" :divider-height="2" style="width: 100%; min-height: 3px;"></wiz-divider>
  </wiz-block>
</template>

<script>
  import wizBlock from 'wiz-block';
  import { wizPlaceholder, wizColumn } from 'wiz-placeholder';
  import wizImage from 'wiz-image';
  import wizDivider from 'wiz-divider';
  import wizText from 'wiz-text';
  import wizLink from 'wiz-link';
  import EyleaLogo from './media/EyleaLogo.png';
  export default {
    name: 'header-d',
    components: {
      wizBlock,
      wizPlaceholder,
      wizColumn,
      wizLink,
      wizImage,
      wizText,
      wizDivider,
    },
    data: function() {
      return {
        EyleaLogo
      }
    }
  }
</script>

