<i18n>
  {
    "eng": {
      "title": "<div style='line-height: 20px; overflow: visible;'><span style='overflow: visible; color:#003b5c; font-size: 25px; font-weight: 400 ;font-family:arial,helvetica neue,helvetica,sans-serif;'>Title to go here</span></div>",
      "mainText": "<div style='line-height: 20px;'><span style='color:#232323;font-size: 14px; font-weight: 400 ;font-family:arial,helvetica neue,helvetica,sans-serif;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>",
      "link": "<div style='line-height: 20px;'><span style='color:#497091; font-size: 14px; font-weight: bold ;font-family:arial,helvetica neue,helvetica,sans-serif;'>Call to action</span></div>"
    }
  }
</i18n>

<template>
  <wiz-block>
      <wiz-placeholder>
        <wiz-column class="content-text-block" style="padding: 12px 0 0 65px;">
          <wiz-title :text="$t('title')" class="content-title" style="padding: 10px 0 0 0;"></wiz-title>
          <wiz-text :text="$t('mainText')" class="content-text" style="padding: 15px 50px 0 0;"></wiz-text>
        </wiz-column>
      </wiz-placeholder >
      <wiz-placeholder>
        <wiz-column class="content-link-block" style="padding: 0px 0 0 65px;" content-align="start">
          <wiz-wrapper style="max-height: auto; min-height: auto; height: auto;max-width: auto; min-width: auto; width: auto;">
            <wiz-link link="https://www.viseven.com/" :text="$t('link')"></wiz-link>
            <wiz-divider divider-color="#497091" divider-align="right" :divider-height="2" :divider-length="100"></wiz-divider>
          </wiz-wrapper>
        </wiz-column>
      </wiz-placeholder>
  </wiz-block>
</template>

<script>
  import wizBlock from 'wiz-block';
  import { wizPlaceholder, wizColumn } from 'wiz-placeholder';
  import wizDivider from 'wiz-divider';
  import wizText from 'wiz-text';
  import wizLink from 'wiz-link';
  import wizTitle from 'wiz-title';
  export default {
    name: 'content-d',
    components: {
      wizBlock,
      wizPlaceholder,
      wizColumn,
      wizLink,
      wizText,
      wizDivider,
      wizTitle
    },
    data: function() {
      return {
      }
    }
  }
</script>
